<% provide :title, 'Pop' %>
<div class="cover">
  <marquee class="cover__greet">
    <blink>
      <h2 class="cover__text">Yoooooooooooooooooooo</h2>
    </blink>
  </marquee>
  <%= content_tag :div, class: 'cover__easter',
    title: 'KUA KUA, you found me!', data: {tooltip: true} do %>
    <%= link_to 'Play', games_path, class: 'cover__easter-link', target: '_self' %>
  <% end %>
  <label class="cover__social">
    <%= link_to "<i class=\"icon-twitter cover__icon\"></i>@kumabotz".html_safe,
      'https://twitter.com/kumabotz',
      class: 'cover__twitter', target: '_blank' %>
  </label>
</div>
