<% provide :title, 'Pop' %>
<div class="cover">
  <marquee class="cover__greet">
    <blink>
    <%= content_tag :h2, class: 'cover__text',
      title: 'Another Way of saying "hey" or "hi"', data: {tooltip: true} do %>
      Yoooooooooooooooooooo
    <% end %>
    </blink>
  </marquee>
  <label class="cover__social">
    <%= link_to '@kumabotz', 'https://twitter.com/kumabotz',
      class: 'cover__twitter', target: '_blank' %>
  </label>
</div>
