$orange: #f05a23;

.cover {
  background: image-url('flappy.gif') no-repeat center;
  font-family: 'SilkscreenNormal', Arial, sans-serif;
  margin: 1em 0;
  min-height: 480px;
  text-align: center;
}

.cover__greet {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cover__text {
  color: $orange;
  font-family: 'SilkscreenBold';
  font-size: 48px;
  margin: 0;
}

.cover__easter {
  position: absolute;
  top: 30%;
  right: 20%;

  &:focus,
  &:hover {
    border: 2px dashed $orange;
  }
}

.cover__easter-link {
  display: block;
  font-size: 26px;
  opacity: 0;
  padding: 1em;

  &:focus,
  &:hover {
    color: $orange;
    opacity: 1;
  }
}

.cover__social {
  background-color: rgba(0,0,0,0.7);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
}

.cover__twitter {
  color: #70c5ce;
  display: block;
  font-size: 40px;
  padding: 1em 0;

  @include respond-to(medium) {
    padding: 0.5em 0;
  }

  @include respond-to(large) {
    padding: 0.3em 0;
  }

  &:hover {
    color: #70c5ce;
  }
}

.cover__icon {
  padding-right: 10px;
}
