@font-face {
  font: {
    family: 'SilkscreenNormal';
    weight: normal;
    style: normal;
  }
  src: font-url('/assets/slkscr-webfont.woff') format('woff');
}

@font-face {
  font: {
    family: 'SilkscreenBold';
    weight: normal;
    style: normal;
  }
  src: font-url('/assets/slkscrb-webfont.woff') format('woff');
}
