<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head_tags', stylesheet_name: 'pop-css/games' %>
  </head>

  <body>
    <%= yield %>
    <%= render 'layouts/bottom_body_tags', script_name: 'pop-js/games' %>
  </body>
</html>
